html {
  color-scheme: light dark;
  position: relative;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  accent-color: oklch(76.264% 0.12187 275.411);
}

nav {
  display:flex;
  margin-bottom: 5ch;
  text-align: center;
  border-bottom-width:1px;
  border-bottom-style:solid;
  --border-color:oklch(50% 10% 200/40%);
  border-bottom-color: var(--border-color);

}

h1 {
  font-size:400%;
} 

nav a{
  flex:1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  
}

nav a.current {
  margin-bottom: 0;
  border-bottom-width:0.4em;
  border-bottom-style:solid;
  border-bottom-color:oklch(50% 10% 200);
  padding-bottom:0.1em
}


nav a:hover {
  border-bottom: 0.2em solid oklch(76.264% 0.12187 275.411);
}

form {

  margin-inline: auto;
}

form input, label, button, textarea {
  display:block;
  font:inherit;
  width: 100%;
  box-sizing: border-box;
}

.wrapper {
  display:grid;
  grid-template-columns: auto 1fr;
  gap:1em;
}

.contact-form {
  display:grid;
  grid-template-columns: 10ch 1fr;
  gap: 1rem 1ch;
  margin-inline:auto;
}

.contact-form .row {
  display:grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}



.projects {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  grid-template-rows:subgrid;
  grid-row: span 3;
  margin: 0;
  
}

.projects article h2 {
  margin: 0;
}

.resume {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  grid-template-rows:subgrid;
  grid-row: span 3;
  margin: 0;
  
}

.color-scheme {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size:  80%;
  font-family: inherit;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1.5rem;
  align-items: flex-start;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.legend {
  flex: 1;
  min-width: 12em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 0.5rem 1rem;
  list-style: none;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 0; 
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 4px;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

path.selected { stroke:#000; stroke-width:2px; }

.legend-item.selected { font-weight:600; }

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}